<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link href="/css/main.css" rel="stylesheet" />
  </head>
  <body tabindex="-1">
    <%- include('partials/navbar', {page: '/about'}) %>
    <div class="container mx-auto">
      <div class="hero bg-base-200 rounded-lg p-6">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">About</h1>
            <p class="py-6">
              “Meet the visionary who crafts every pixel and line of code – Let’s create 
              something extraordinary together.”
            </p>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-8">
        <!-- Left Column -->
        <div>
          <img
            src="https://www.istats.com/wp-content/uploads/2018/08/web-metrics-840x385.jpeg"
            alt="Your Image"
            class="w-full h-auto rounded-lg"
          />
        </div>
        <!-- Right Column -->
        <div>
          <h2 class="text-2xl font-bold">Mark Anthony Sebatian</h2>
          <p class="mt-4">
            I find joy in the fast-paced world of coding, where every project is a new game to strategize 
            and conquer. Off the court, I immerse myself in playing basketball, relishing the energy and 
            teamwork it brings. Whether dribbling on the court or coding a new feature, the thrill of the 
            game keeps me sharp and focused. Beyond the screen and the court, quality time with my family 
            is my sanctuary. Their support and the fun we share together are the grounding forces in my life. Balancing the dynamic realms of tech, sports, and family, I approach each challenge with passion and determination, ready to score high in every arena.
                </p>
        </div>
      </div>
    </div>
  </body>
</html>
