<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Country</title>
    <link href="/css/main.css" rel="stylesheet" />
  </head>
  <body tabindex="-1">
    <%- include('partials/navbar', { page: '/addCountry' }) %>
    
    <div class="container mx-auto">
      <div class="hero bg-base-200 rounded-lg p-6">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-4xl font-bold">Add Country</h1>
            <p class="py-6">Use the below form to add a new UN Country to the collection</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container mx-auto p-4">
        <form action="/addCountry" method="POST">
          <div class="grid grid-cols-1 md:grid-cols-3 gap-6 gap-y-0">
            <!-- First column -->
            <div>
              <div class="mb-6">
                <label for="commonName" class="block text-gray-700 font-medium">Common Name</label>
                <input type="text" id="commonName" name="commonName" required class="w-full border border-gray-300 rounded-md px-3 py-2 focus:border-blue-300">
              </div>
              <div class="mb-6">
                <label for="id" class="block text-gray-700 font-medium">Numeric-3 Code</label>
                <input type="text" id="id" name="id" required class="w-full border border-gray-300 rounded-md px-3 py-2 focus:border-blue-300">
              </div>
              <div class="mb-6">
                <label for="population" class="block text-gray-700 font-medium">Population</label>
                <input type="number" id="population" name="population" required class="w-full border border-gray-300 rounded-md px-3 py-2 focus:border-blue-300">
              </div>
              <div class="mb-6">
                <label for="subRegionId" class="block text-gray-700 font-medium">(Sub) Region</label>
                <select id="subRegionId" name="subRegionId" required class="w-full border border-gray-300 rounded-md px-3 py-2 focus:border-blue-300">
                  <% subRegions.forEach(subRegion=>{ %>
                    <option value="<%= subRegion.id %>"><%= subRegion.subRegion %></option>
                  <% }) %>
                </select>
              </div>
            </div>
            
            <!-- Second column -->
            <div>
              <div class="mb-6">
                <label for="officialName" class="block text-gray-700 font-medium">Official Name</label>
                <input type="text" id="officialName" name="officialName" required class="w-full border border-gray-300 rounded-md px-3 py-2 focus:border-blue-300">
              </div>
              <div class="mb-6">
                <label for="capital" class="block text-gray-700 font-medium">Capital</label>
                <input type="text" id="capital" name="capital" required class="w-full border border-gray-300 rounded-md px-3 py-2 focus:border-blue-300">
              </div>
              <div class="mb-6">
                <label for="area" class="block text-gray-700 font-medium">Area</label>
                <input type="number" id="area" name="area" required class="w-full border border-gray-300 rounded-md px-3 py-2 focus:border-blue-300">
              </div>
              <div class="mb-6">
                <label for="landlocked" class="block text-gray-700 font-medium">Is Landlocked?</label>
                <label class="label cursor-pointer justify-center">
                  <input type="checkbox" name="landlocked" class="checkbox" id="landlocked">
                  <span class="label-text px-2"></span>
                </label>
              </div>
            </div>
      
            <!-- Third column -->
            <div>
              <div class="mb-6">
                <label for="nativeName" class="block text-gray-700 font-medium">Native Name</label>
                <input type="text" id="nativeName" name="nativeName" required class="w-full border border-gray-300 rounded-md px-3 py-2 focus:border-blue-300">
              </div>
              <div class="mb-6">
                <label for="languages" class="block text-gray-700 font-medium">Languages</label>
                <input type="text" id="languages" name="languages" required class="w-full border border-gray-300 rounded-md px-3 py-2 focus:border-blue-300">
              </div>
              <div class="mb-6">
                <label for="currencies" class="block text-gray-700 font-medium">Currencies</label>
                <input type="text" id="currencies" name="currencies" required class="w-full border border-gray-300 rounded-md px-3 py-2 focus:border-blue-300">
              </div>
              <div class="mb-6">
                <label for="openStreetMaps" class="block text-gray-700 font-medium">Open Street Maps URL</label>
                <input type="url" id="openStreetMaps" name="openStreetMaps" required class="w-full border border-gray-300 rounded-md px-3 py-2 focus:border-blue-300">
              </div>
            </div>
          </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 gap-y-0 mt-6">
          <div class="mb-6">
            <label for="flag" class="block text-gray-700 font-medium">Flag Image URL</label>
            <input type="url" id="flag" name="flag" required class="w-full border border-gray-300 rounded-md px-3 py-2 focus:border-blue-300">
          </div>
          <div class="mb-6">
            <label for="coatOfArms" class="block text-gray-700 font-medium">Coat of Arms URL</label>
            <input type="url" id="coatOfArms" name="coatOfArms" required class="w-full border border-gray-300 rounded-md px-3 py-2 focus:border-blue-300">
          </div>
        </div>

        <div class="mt-6">
          <button type="submit" class="btn btn-primary w-full" disabled>Add Country
            (disabled) </button>
        </div>
      </form>
    </div>
  </body>
</html>
