<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Countries</title>
    <link href="/css/main.css" rel="stylesheet" />
  </head>
  <body tabindex="-1">    
    <%- include('partials/navbar', {page: '/home'}) %>
    <div class="container mx-auto">
      <div class="hero bg-base-200 rounded-lg p-6">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">Welcome</h1>
            <p class="py-6">
              From North America, we start to explore the countries in the
              world.
            </p>
            <a href="/countries" class="btn btn-primary">Explore Now</a>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-8">
        <!-- Card 1 -->
        <div class="card bg-white shadow-md rounded-lg overflow-hidden">
          <figure>
            <img
              class="w-full"
              src="https://flagcdn.com/w320/ph.png"
              alt="Philippines"
            />
          </figure>
          <div class="p-4">
            <h2 class="text-xl font-bold">Philippines</h2>
            <div class="flex items-center mt-2">
              <img
                src="https://mainfacts.com/media/images/coats_of_arms/ph.png"
                alt="Coat of Arms"
                class="w-12 h-12 mr-4"
              />
              <p>
                <b>Capital:</b> Manila<br /><b>Languages:</b> Filipino,
                English<br /><b>Population:</b> 109,581,085<br /><b>Area:</b> 342,353 km<sup>2</sup>
              </p>
            </div>
            <a href="/countries/608" class="btn mt-4">Learn More</a>
          </div>
        </div>
        <!-- Card 2 -->
        <div class="card bg-white shadow-md rounded-lg overflow-hidden">
          <figure>
            <img
              class="w-full"
              src="https://flagcdn.com/w320/ca.png"
              alt="Canada"
            />
          </figure>
          <div class="p-4">
            <h2 class="text-xl font-bold">Canada</h2>
            <div class="flex items-center mt-2">
              <img
                src="https://mainfacts.com/media/images/coats_of_arms/ca.png"
                alt="Coat of Arms"
                class="w-12 h-12 mr-4"
              />
              <p>
                <b>Capital:</b> Ottawa<br /><b>Languages:</b> English, French<br />
                <b>Population:</b>
                38,005,238<br /><b>Area:</b> 9,984,670 km<sup>2</sup>
              </p>
            </div>
            <a href="/countries/124" class="btn mt-4">Learn More</a>
          </div>
        </div>
        <!-- Card 3 -->
        <div class="card bg-white shadow-md rounded-lg overflow-hidden">
          <figure>
            <img
              class="w-full"
              src="https://flagcdn.com/w320/us.png"
              alt="United States"
            />
          </figure>
          <div class="p-4">
            <h2 class="text-xl font-bold">United States</h2>
            <div class="flex items-center mt-2">
              <img
                src="https://mainfacts.com/media/images/coats_of_arms/us.png"
                alt="Coat of Arms"
                class="w-12 h-12 mr-4"
              />
              <p>
                <b>Capital:</b> Washington, D.C.<br /><b>Languages:</b> English<br />
                <b>Population:</b> 329,484,123<br /><b>Area:</b> 9,372,610 Km<sup>2</sup>
              </p>
            </div>
            <a href="/countries/840" class="btn mt-4">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
